link(rel="stylesheet", href="stylesheets/list.css")

extends ./layout.jade
block content
   h4 Tentang saya
    p 
        | Nama Saya Nelan
    a(href='https://github.com/NelanJoe', target="_blank", rel="noopener noreferrer")