footer.mdl-mega-footer
  .mdl-mega-footer--middle-section
    .mdl-mega-footer--drop-down-section
      input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer--heading Features
      ul.mdl-mega-footer--link-list
        li
          a(href='/about') About
        li
          a(href='/contact') Contact
        li
          a(href='/list') Santri
        li
          a(href='/login') Login
    .mdl-mega-footer--drop-down-section
      input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer--heading Contact
      p
        | PONPES TAHFIDZ & ENTREPRENEUR THURSINA YBM PLN
        br
        |               Cibeureum, Cisarua, Kab. Bogor
        br
        |               Jawa Barat 16750
        br
        strong Phone:
        |  0813-1149-8845
        br
        strong Email:
        |  info@example.com
        br
